<html>
    <head>
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div style="text-align: center;">
            <div class="table-responsive-sm">
                <table class="table">
                    <tr>
                        <th scope="col">Jméno</th>
                        <th scope="col">Zakladatel</th>
                    </tr>
                    {% for tournament in tournaments%}
                        <tr>
                            <td><a href="{% url 'add_existing_tournament' team_id=team.id tournament_id=tournament.id %}">{{tournament.name}}</a></td>
                            <td>{{tournament.founder}}</td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
            <p><a href="{% url 'team_window' team_id=team.id %}">Zpět</a></p>
        </div>
    </body>
</html>
